.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto; /* Добавлено для центрирования по горизонтали */
    padding-top: 130px;
    padding-bottom: 60px;
  }
  
  