.fullPostWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto; /* Добавлено для центрирования по горизонтали */
}
.fullPostContent {
  padding-top: 60px;
  margin-bottom: 60px;

}

.fullPostContent p {
  max-width: 80%;
  color: black;
  font-size: 20px;
  margin-top: 25px;
}

.fullPostContent h1 {
  max-width: 80%;
  color: black;
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 70px;
}

.fullPostContent h2 {
  font-size: 22px;
  padding-bottom: 10px;
  color:black;
}

.fullPostContent h3{
  font-size: 18px;
  font-style: italic;
  padding-bottom: 10px;
  color:rgb(104, 100, 100);
}

.fullPostImage {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.shareButtons {
  padding: 1rem 0;
}

 .shareButton {
  margin-right: 1em;
} 
.fullText {
  font-size: 16px;
  color: black;
}
.fullPostContent img {
  max-width: 100%; /* Максимальная ширина изображения равна ширине контента */
  height: auto;    
}


