.searchPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto; /* Добавлено для центрирования по горизонтали */
    padding-top: 100px;
     }

.resultsContainer {
  padding-top: 50px;
}     

.noResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.noResultsText {
    color: black;
    font-size: 40px;
    font-weight: 700;
  }

  .maybeText {
    color: black;
    font-size: 30px;
    padding-top: 30px;
  }

  